<br />
<br />
<h3>1.怎样从任何页面快速回到浏览工作职位的列表？</h3>
<p class="answer">
  点击左上角的工作列表，即可直接回到职位列表。
</p>
<hr />

<h3>2.怎样取得管理员账号？</h3>
<p class="answer">
现在的设定是任何注册账号都自动成为管理员账号，都可以进入后台管理区。
</p>
<hr />

<h3>3.网站在持续改善、更新中！</h3>
