<br />
<br />
<div class="col-md-10 col-md-offset-1">
  <h3>1.怎样取得管理员账号？</h3>
  <p class="answer">
    现在的设定是任何注册账号都自动成为管理员账号，都可以进入后台管理区。
  </p>
  <hr />

  <h3>2.可以点击左上角切换城市。</h3>

  <hr />

  <h3>3.网站在持续改善、更新中！</h3>
  <hr />
  <br />
  <br />

</div>
