<div class="jumbotron">
  <h1 id="title1">灵犀招聘</h1>
  <h1 id="title2">一见倾心</h1>
  <br />
  <h2 class="slogan">
    专业的互联网招聘平台
  <br />
  <br />
</h2>
  <p class="lead">
    <a class="btn btn-lg btn-danger" href="/jobs">马上应征</a>  |
    <a class="btn btn-lg btn-info" href="/jobs/new">发布工作</a>
  </p>
</div>
<br />
<br />
<section class="phases">
  <div class = "container-fluid">
    <div class="row text-center">
      <div class="col-sm-6">
        <div>
          <img src="http://ovwf67mvg.bkt.clouddn.com/17-9-7/50310287.jpg" alt="search" class = "img-rounded" width="500" height="300">
        </div>
        <div class="text-center">
            <h3>专业专注</h3>
            <p>专注于互联网行业，匠心打造，非凡体验。</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div>
          <img src="http://ovwf67mvg.bkt.clouddn.com/17-9-7/77750583.jpg" alt="bid" class = "img-rounded" width="500" height="300" />
        </div>
        <div class="text-center">
            <h3>私人定制</h3>
            <p>求职者可筛选职位、薪资、工作地点等，实现精准匹配的个性化职位定制。</p>
        </div>
      </div>
    </div>
    <hr />
    <br />
    <div class="row text-center">
      <div class="col-sm-6">
        <div>
          <img src="http://ovwf67mvg.bkt.clouddn.com/17-9-7/7687012.jpg" alt="heart" class = "img-rounded" width="500" height="300" />
        </div>
        <div class="text-center">
            <h3>海量企业</h3>
            <p>从一线互联网大公司，到最具前景的创业公司，应有尽有。</p>
        </div>
       </div>
      <div class="col-sm-6">
        <div>
          <img src="http://ovwf67mvg.bkt.clouddn.com/17-9-7/94351667.jpg" alt="heart" class="img-rounded" width="500" height="300" />
        </div>
        <div class="text-center">
            <h3>人才推荐</h3>
            <p>分析海量简历信息，为企业推荐最合适的人才。让千里马常有，伯乐亦常有。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<br />
<hr />
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active text-center">
      <img src="http://ovwf67mvg.bkt.clouddn.com/17-9-7/19572963.jpg"  alt="顶尖互联网企业"  />
    </div>
    <div class="item text-center">
      <img src="http://ovwf67mvg.bkt.clouddn.com/17-9-7/92521272.jpg" alt="海外互联网企业" />
    </div>
  </div>
  <hr />
