// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-center {
  margin-top: 100px;
}


.job-item-title {
  background: rgb(255,246,143);
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 20px;
}

.job-item-description {
  background: rgb(187,255,255);
  padding: 5px 10px 5px 10px;
  margin:0;
  font-size: 20px;
}
