// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-center {
  margin-top: 100px;
}


.job-title {
  font-size: 20px;
  color: black;


}


.red {
  color:#fc703e;
  font-size: 17px;
  margin: 10px 0 10px 0;
}

.job-address {
  padding: 0 5px 10px 5px;
}

.job-experience {
  padding: 0 5px 10px 5px;
}

.job-education {
  margin: 0 5px 10px 5px;
}

.job-company {
  font-size: 20px;
}
