<footer class="container" style="margin-top: 80px;">
  <p class="text-center">
    Copyright &copy2016 Rails101 | Design by <a href="https://github.com/waterblues/job-listing">Wangzhenhua</a>
  </p>
</footer>
